{
  "openapi": "3.0.1",
  "info": {
    "title": "Hcp Update",
    "description": "This service provides the functionality to update the HCP details.",
        "x-metadata":{
           "capability": "SYSTEM API",
           "tags":["active", "core"]
  },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://hcp-update-v1-app-p.aws-k8s.abbvienet.com",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/v1/hcp/update": {
      "post": {
        "tags": [
          "hcp-update-controller"
        ],
        "operationId": "updateHcpDetails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHcpDetailsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateHcpDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swagger-resources": {
      "get": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_3",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_5",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_6",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_4",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/swagger-resources/configuration/ui": {
      "get": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_3",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_5",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_6",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_4",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      }
    },
    "/swagger-resources/configuration/security": {
      "get": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_3",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_5",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_6",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_4",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UpdateHcpDetailsRequest": {
        "required": [
          "email",
          "hcp_id"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "hcp_id": {
            "type": "string"
          },
          "contactid": {
            "type": "string"
          },
          "primary_keycode": {
            "type": "string"
          }
        }
      },
      "UpdateHcpDetailsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "ERROR"
            ]
          }
        }
      },
      "SwaggerResource": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "swaggerVersion": {
            "type": "string"
          },
          "location": {
            "type": "string",
            "deprecated": true
          }
        }
      },
      "UiConfiguration": {
        "type": "object",
        "properties": {
          "deepLinking": {
            "type": "boolean"
          },
          "displayOperationId": {
            "type": "boolean"
          },
          "defaultModelsExpandDepth": {
            "type": "integer",
            "format": "int32"
          },
          "defaultModelExpandDepth": {
            "type": "integer",
            "format": "int32"
          },
          "defaultModelRendering": {
            "type": "string",
            "enum": [
              "example",
              "model"
            ]
          },
          "displayRequestDuration": {
            "type": "boolean"
          },
          "docExpansion": {
            "type": "string",
            "enum": [
              "none",
              "list",
              "full"
            ]
          },
          "filter": {
            "type": "object"
          },
          "maxDisplayedTags": {
            "type": "integer",
            "format": "int32"
          },
          "operationsSorter": {
            "type": "string",
            "enum": [
              "alpha",
              "method"
            ]
          },
          "showExtensions": {
            "type": "boolean"
          },
          "tagsSorter": {
            "type": "string",
            "enum": [
              "alpha"
            ]
          },
          "validatorUrl": {
            "type": "string"
          },
          "apisSorter": {
            "type": "string",
            "deprecated": true
          },
          "jsonEditor": {
            "type": "boolean",
            "deprecated": true
          },
          "showRequestHeaders": {
            "type": "boolean",
            "deprecated": true
          },
          "supportedSubmitMethods": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SecurityConfiguration": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string",
            "deprecated": true
          },
          "apiKeyVehicle": {
            "type": "string",
            "deprecated": true
          },
          "apiKeyName": {
            "type": "string",
            "deprecated": true
          },
          "clientId": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          },
          "realm": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "scopeSeparator": {
            "type": "string"
          },
          "additionalQueryStringParams": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "useBasicAuthenticationWithAccessCodeGrant": {
            "type": "boolean"
          }
        }
      }
    }
  }
}