{
  "openapi": "3.0.1",
  "info": {
    "title": "Hcp Registration Marketo",
    "description": "The Hcp Registration Marekto API provides functionality for registering HCPs, along with Marketo update.",
        "x-metadata":{
           "capability": "EXPERIENCE API",
           "tags":["active", "experience"]
  },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://hcp-registration-marketo-v1-app-p.aws-k8s.abbvienet.com",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/v1/user/register": {
      "post": {
        "tags": [
          "hcp-registration-controller"
        ],
        "operationId": "hcpMarketoRegistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HcpRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HcpRegistrationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/marketo/email": {
      "post": {
        "tags": [
          "hcp-registration-controller"
        ],
        "operationId": "triggerHcpEmailToMarketo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketoEmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketoEmailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/swagger-resources": {
      "get": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_3",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_5",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_6",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "swaggerResources_4",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SwaggerResource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/swagger-resources/configuration/ui": {
      "get": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_3",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_5",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_6",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "uiConfiguration_4",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UiConfiguration"
                }
              }
            }
          }
        }
      }
    },
    "/swagger-resources/configuration/security": {
      "get": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_3",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_5",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "options": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_6",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "head": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "api-resource-controller"
        ],
        "operationId": "securityConfiguration_4",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityConfiguration"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HcpRegistrationRequest": {
        "required": [
          "email",
          "firstName",
          "lastName",
          "npi"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "email": {
            "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,6}$",
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "product": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "exposureId": {
            "type": "string"
          },
          "npi": {
            "type": "string"
          },
          "optIn": {
            "type": "boolean"
          },
          "optInText": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "practiceSetting": {
            "type": "string"
          },
          "practiceSettingOption": {
            "type": "string"
          }
        }
      },
      "HcpRegistrationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "ERROR",
              "BAD_REQUEST",
              "OK"
            ]
          },
          "prodRegId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "MarketoEmailRequest": {
        "required": [
          "exposureId",
          "npi"
        ],
        "type": "object",
        "properties": {
          "npi": {
            "type": "string"
          },
          "exposureId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "brand": {
            "type": "string"
          },
          "practiceSetting": {
            "type": "string"
          },
          "practiceSettingOption": {
            "type": "string"
          }
        }
      },
      "MarketoEmailResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "ERROR",
              "BAD_REQUEST",
              "OK"
            ]
          }
        }
      },
      "SwaggerResource": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "swaggerVersion": {
            "type": "string"
          },
          "location": {
            "type": "string",
            "deprecated": true
          }
        }
      },
      "UiConfiguration": {
        "type": "object",
        "properties": {
          "deepLinking": {
            "type": "boolean"
          },
          "displayOperationId": {
            "type": "boolean"
          },
          "defaultModelsExpandDepth": {
            "type": "integer",
            "format": "int32"
          },
          "defaultModelExpandDepth": {
            "type": "integer",
            "format": "int32"
          },
          "defaultModelRendering": {
            "type": "string",
            "enum": [
              "example",
              "model"
            ]
          },
          "displayRequestDuration": {
            "type": "boolean"
          },
          "docExpansion": {
            "type": "string",
            "enum": [
              "none",
              "list",
              "full"
            ]
          },
          "filter": {
            "type": "object"
          },
          "maxDisplayedTags": {
            "type": "integer",
            "format": "int32"
          },
          "operationsSorter": {
            "type": "string",
            "enum": [
              "alpha",
              "method"
            ]
          },
          "showExtensions": {
            "type": "boolean"
          },
          "tagsSorter": {
            "type": "string",
            "enum": [
              "alpha"
            ]
          },
          "validatorUrl": {
            "type": "string"
          },
          "apisSorter": {
            "type": "string",
            "deprecated": true
          },
          "jsonEditor": {
            "type": "boolean",
            "deprecated": true
          },
          "showRequestHeaders": {
            "type": "boolean",
            "deprecated": true
          },
          "supportedSubmitMethods": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SecurityConfiguration": {
        "type": "object",
        "properties": {
          "apiKey": {
            "type": "string",
            "deprecated": true
          },
          "apiKeyVehicle": {
            "type": "string",
            "deprecated": true
          },
          "apiKeyName": {
            "type": "string",
            "deprecated": true
          },
          "clientId": {
            "type": "string"
          },
          "clientSecret": {
            "type": "string"
          },
          "realm": {
            "type": "string"
          },
          "appName": {
            "type": "string"
          },
          "scopeSeparator": {
            "type": "string"
          },
          "additionalQueryStringParams": {
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "useBasicAuthenticationWithAccessCodeGrant": {
            "type": "boolean"
          }
        }
      }
    }
  }
}