{
  "openapi": "3.0.1",
  "info": {
    "title": "Staff Registration Service",
    "description": "The Staff Registration service provides functionality for registering HCP Staff individuals",
        "x-metadata":{
           "capability": "EXPERIENCE API",
           "tags":["active", "experience"]
  },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://staff-registration-v1-app-p.aws-k8s.abbvienet.com",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Staff Registration Service",
      "description": "Staff Registration Controller"
    }
  ],
  "paths": {
    "/api/v1/user/register": {
      "post": {
        "tags": [
          "Staff Registration Service"
        ],
        "summary": "API to register HCP staff details",
        "description": "Check the 'Schema' tab next to the 'Example Value' tab under the 'Request body' section. Make sure to provide all neccessary details to get the success response.",
        "operationId": "staffRegistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffRegistrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error - Unexcepted error occurred on the server side.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "example": {
                  "responseCode": "500",
                  "status": "ERROR",
                  "errors": [
                    {
                      "errorCode": "SERVER_ERROR",
                      "code": "10001",
                      "message": "An unexcepted error occurred on the server."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed or user does not have permissions for the requested operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "example": {
                  "responseCode": "401",
                  "status": "ERROR",
                  "errors": [
                    {
                      "errorCode": "UNAUTHORIZED",
                      "code": "10015",
                      "message": "Authentication required or failed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "example": {
                  "responseCode": "404",
                  "status": "ERROR",
                  "errors": [
                    {
                      "errorCode": "NOT_FOUND",
                      "code": "10016",
                      "message": "The requested resource could not be found."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid or missing parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "examples": {
                  "Empty First Name": {
                    "description": "Empty First Name",
                    "value": {
                      "responseCode": "400",
                      "status": "ERROR",
                      "errors": [
                        {
                          "errorCode": "BAD_REQUEST",
                          "code": "10002",
                          "message": "First name must not be empty"
                        }
                      ]
                    }
                  },
                  "Empty Last Name": {
                    "description": "Empty Last Name",
                    "value": {
                      "responseCode": "400",
                      "status": "ERROR",
                      "errors": [
                        {
                          "errorCode": "BAD_REQUEST",
                          "code": "10002",
                          "message": "Last name must not be empty"
                        }
                      ]
                    }
                  },
                  "Empty Email": {
                    "description": "Empty Email",
                    "value": {
                      "responseCode": "400",
                      "status": "ERROR",
                      "errors": [
                        {
                          "errorCode": "BAD_REQUEST",
                          "code": "10002",
                          "message": "Email must not be empty"
                        }
                      ]
                    }
                  },
                  "Empty Product": {
                    "description": "Empty Product",
                    "value": {
                      "responseCode": "400",
                      "status": "ERROR",
                      "errors": [
                        {
                          "errorCode": "BAD_REQUEST",
                          "code": "10002",
                          "message": "Product name must not be empty"
                        }
                      ]
                    }
                  },
                  "Null Hcp Info": {
                    "description": "Null Hcp Info",
                    "value": {
                      "responseCode": "400",
                      "status": "ERROR",
                      "errors": [
                        {
                          "errorCode": "BAD_REQUEST",
                          "code": "10002",
                          "message": "Hcp Info must not be null"
                        }
                      ]
                    }
                  },
                  "Null Opt Info": {
                    "description": "Null Opt Info",
                    "value": {
                      "responseCode": "400",
                      "status": "ERROR",
                      "errors": [
                        {
                          "errorCode": "BAD_REQUEST",
                          "code": "10002",
                          "message": "Opt Info must not be null"
                        }
                      ]
                    }
                  },
                  "Empty Hcp Npi": {
                    "description": "Empty Hcp Npi",
                    "value": {
                      "responseCode": "400",
                      "status": "ERROR",
                      "errors": [
                        {
                          "errorCode": "BAD_REQUEST",
                          "code": "10002",
                          "message": "HCP NPI must not be empty"
                        }
                      ]
                    }
                  },
                  "Empty Hcp Acid": {
                    "description": "Empty Hcp Acid",
                    "value": {
                      "responseCode": "400",
                      "status": "ERROR",
                      "errors": [
                        {
                          "errorCode": "BAD_REQUEST",
                          "code": "10002",
                          "message": "HCP Acid must not be empty"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Staff Details saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffRegistrationResponse"
                },
                "example": {
                  "responseCode": "200",
                  "status": "SUCCESS"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/oneTrustStaffRegMarketo": {
      "get": {
        "tags": [
          "Staff Registration Service"
        ],
        "summary": "API to call OneTrust subscribe for HCP Staff",
        "description": "Make sure to provide all neccessary details to get the success response.",
        "operationId": "subscribeStaff",
        "parameters": [
          {
            "name": "staffId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "acid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffRegistrationResponse"
                },
                "example": {
                  "responseCode": "200",
                  "status": "SUCCESS"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid or missing parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "example": {
                  "responseCode": "400",
                  "status": "ERROR",
                  "errors": [
                    {
                      "errorCode": "BAD_REQUEST",
                      "code": "10002",
                      "message": "Invalid or missing parameter"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexcepted error occurred on the server side.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "example": {
                  "responseCode": "500",
                  "status": "ERROR",
                  "errors": [
                    {
                      "errorCode": "SERVER_ERROR",
                      "code": "10001",
                      "message": "An unexcepted error occurred on the server."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed or user does not have permissions for the requested operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "example": {
                  "responseCode": "401",
                  "status": "ERROR",
                  "errors": [
                    {
                      "errorCode": "UNAUTHORIZED",
                      "code": "10015",
                      "message": "Authentication required or failed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "example": {
                  "responseCode": "404",
                  "status": "ERROR",
                  "errors": [
                    {
                      "errorCode": "NOT_FOUND",
                      "code": "10016",
                      "message": "The requested resource could not be found."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/fetchAndSaveToIRep": {
      "get": {
        "tags": [
          "Staff Registration Service"
        ],
        "summary": "API to Fetch and save to iRep by Date",
        "description": "Make sure to provide all neccessary details to get the success response.",
        "operationId": "fetchAndSaveToIRep",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "Date parameter in yyyy-MM-dd format (e.g., 2023-10-31)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffRegistrationResponse"
                },
                "example": {
                  "responseCode": "200",
                  "status": "SUCCESS"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid or missing parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "example": {
                  "responseCode": "400",
                  "status": "ERROR",
                  "errors": [
                    {
                      "errorCode": "BAD_REQUEST",
                      "code": "10002",
                      "message": "Invalid or missing parameter"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexcepted error occurred on the server side.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "example": {
                  "responseCode": "500",
                  "status": "ERROR",
                  "errors": [
                    {
                      "errorCode": "SERVER_ERROR",
                      "code": "10001",
                      "message": "An unexcepted error occurred on the server."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Authentication failed or user does not have permissions for the requested operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "example": {
                  "responseCode": "401",
                  "status": "ERROR",
                  "errors": [
                    {
                      "errorCode": "UNAUTHORIZED",
                      "code": "10015",
                      "message": "Authentication required or failed."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - The requested resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDto"
                },
                "example": {
                  "responseCode": "404",
                  "status": "ERROR",
                  "errors": [
                    {
                      "errorCode": "NOT_FOUND",
                      "code": "10016",
                      "message": "The requested resource could not be found."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HcpInfo": {
        "required": [
          "acid",
          "npiId"
        ],
        "type": "object",
        "properties": {
          "designation": {
            "type": "string",
            "description": "Designation of the Hcp",
            "example": "MD"
          },
          "practiceInfo": {
            "$ref": "#/components/schemas/PracticeInfo"
          },
          "npiId": {
            "type": "string",
            "description": "Npi id of the Hcp",
            "example": "'1659584324'"
          },
          "acid": {
            "type": "string",
            "description": "Hcp Acid",
            "example": "'112124'"
          }
        },
        "description": "Hcp info"
      },
      "OptInfo": {
        "type": "object",
        "properties": {
          "optInText": {
            "type": "string",
            "description": "Optin Text",
            "example": "Sample Optin text message"
          },
          "channel": {
            "type": "string",
            "description": "Optin channel",
            "example": "Email"
          },
          "channelOptInType": {
            "type": "string",
            "description": "Optin preference",
            "example": "in"
          }
        },
        "description": "Opt info"
      },
      "PracticeInfo": {
        "type": "object",
        "properties": {
          "practiceSetting": {
            "type": "string",
            "description": "Practice Setting",
            "example": "Optometry"
          },
          "practiceSettingOption": {
            "type": "string",
            "description": "Practice Setting Option",
            "example": "Glaucoma"
          }
        },
        "description": "Hcp practice info"
      },
      "StaffRegistrationRequest": {
        "required": [
          "email",
          "firstName",
          "hcp",
          "lastName",
          "optInfo",
          "productName"
        ],
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "First Name",
            "example": "Lindsey"
          },
          "lastName": {
            "type": "string",
            "description": "Last Name",
            "example": "Stenshoel"
          },
          "email": {
            "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,6}$",
            "type": "string",
            "description": "Email Id",
            "example": "noman.right@abbvie.com"
          },
          "productName": {
            "type": "string",
            "description": "Product Name",
            "example": "Humira_UC_DSA"
          },
          "acid": {
            "type": "string",
            "description": "Staff Acid id",
            "example": "'112123'"
          },
          "source": {
            "type": "string",
            "description": "Source",
            "example": "STAFF"
          },
          "optInfo": {
            "$ref": "#/components/schemas/OptInfo"
          },
          "hcp": {
            "$ref": "#/components/schemas/HcpInfo"
          }
        }
      },
      "ErrorDto": {
        "type": "object",
        "properties": {
          "errorCode": {
            "type": "string",
            "enum": [
              "SERVER_ERROR",
              "BAD_REQUEST",
              "CLIENT_ERROR",
              "INVALID_NPI",
              "INVALID_EMAIL",
              "EMAIL_CLIENT_ERROR",
              "TRIGGER_EMAIL_CLIENT_ERROR",
              "OPT_IN_CLIENT_ERROR",
              "INVALID_USER_ID",
              "NO_RECORD_FOUND",
              "HCP_IS_NOT_IN_APPROVED_PRODUCT",
              "DUPLICATE_ACID_AND_EMAIL",
              "ONETRUST_DISABLED"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ErrorResponseDto": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "ERROR"
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDto"
            }
          }
        }
      },
      "StaffRegistrationResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status - success/failure",
            "example": "Success",
            "enum": [
              "SUCCESS",
              "ERROR"
            ]
          }
        }
      }
    }
  }
}